{% extends 'base.html.twig' %}

{% block title %}Choose your favorite pizza | {{ parent() }}{% endblock %}

{% block body %}
<main class="container ">
    <div class="row mt-5">
        <div class="col-12 col-md-8 mx-auto">
            <h2 class="mb-4">Menu</h2>
            {% for pizza in pizzas %}
                <div class="d-flex mb-3 card opacity">
                   <div class="row g-0">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start" src="{{ pizza.getImageUrl(100) }}" alt="Mix album cover">
                        </div>
                    <div class="col-md-8">
                        <div class="card-body h-75">
                            <h5 class="card-title ">{{ pizza.name }}</h5>
                            <p class="card-text"> {{ pizza.description }}</p>
                            
                        </div>
                             <div class="card-footer text-end h-25">
                               € {{ pizza.price }}
                                <a href="#">
                                    <i class="fa fa-cart-plus mx-3 fs-5 green"></i>
                                </a>
                            </div>  
                      
                    </div>
                </div>
                </div>
           
            {% endfor %}
            
        </div>
    </div>
</main>
{% endblock %}
